{% extends "manageBase.html" %}
{% load highlight %}

{% block header %}
    <style>
        .keyword{color:red;}
    </style>

{% endblock %}

{% block region %}
    <div class="container">
        <ol class="breadcrumb  visible-lg visible-md">
          <li><a href="/">首页</a></li>
          <li><a href=".">文档搜索</a></li>
        </ol>   
        
      <!-- Main component for a primary marketing message or call to action -->
              <form class="form-inline" role="search" action="{% url 'doc_search' %}" method="get" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入书名或者作者" name="q" id="id_q" value="{{ query }}">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">搜书</button>
                    </span>
                  </div>
              </form>                    
                
                <div class="panel panel-collapse">
                
                {% if query %}
                    <span class="label label-success">结果</span>
        
                    {% for result in page.object_list %}
                    
                        {% if result.object.bookid %}
                    
                            <div class="list-group myhilight">
                              <a href="/docview/view/{{ result.object.bookid }}/" class="list-group-item ">
                                <h4 class="list-group-item-heading">
                                {{ result.object.name }}
                                </h4>
                                <p  class="list-group-item-text">
                                    {{ result.object.author|default:"" }}
                                </p>                            
                                {% if  result.object.descr %}
                                <p class="list-group-item-text">
                                    {% highlight  result.object.descr with keywords css_class "keyword" %}
                                </p>  
                                {% endif %}                               
                                
                                {% if  result.object.summary %}
                                <p class="list-group-item-text">
                                    {% highlight  result.object.summary with keywords css_class "keyword" %}
                                </p>                                 
                                {% endif %}                               
                              </a>
                            </div>                    
                        {% else %}            
                       {% endif %}                               
                        
                    {% empty %}
                        <p>没有符合条件的结果,试试使用更简短的关键字?</p>
                    {% endfor %}
        
                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                {% else %}
                
                {% endif %}
                </div>

            
    </div> <!-- /container -->
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/js/jquery/jquery.highlighter.min.js"></script>
<script type="text/javascript"> 
window.onload=function()
{
    $(".myhilight").each(function(i, domel){ 
        $(domel).highlight( "{{ keywords }}"); 
    }); 
}  
</script>
{% endblock %}