{% extends "base.html" %}
{% load highlight %}

{% block header %}
    <style>
        .keyword{color:red;}
    </style>

{% endblock %}

{% block container %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
                <div class="panel">
                    <span class="label label-info">搜索</span>
                    <p>{{ query }}</p>
                </div>    
                
                <div class="panel panel-collapse">
                
                {% if query %}
                    <span class="label label-success">结果</span>
        
                    {% for result in page.object_list %}
                    
                        <div class="list-group myhilight">
                          <a href="/docview/view/paper.swf" class="list-group-item ">
                            <h4 class="list-group-item-heading">
                            {{ result.object.name }}
                            </h4>
                            <p  class="list-group-item-text">
                                {{ result.object.author }}
                            </p>                            
                            <p class="list-group-item-text">
                                {% highlight  result.object.descr with keywords css_class "keyword" %}
                            </p>                                 
                          </a>
                        </div>                    
                        
                    {% empty %}
                        <p>没有符合条件的结果,试试使用更简短的关键字?</p>
                    {% endfor %}
        
                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                {% endif %}
                </div>

            
    </div> <!-- /container -->
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/js/jquery/jquery.highlighter.min.js"></script>
<script type="text/javascript"> 
window.onload=function()
{
    $(".myhilight").each(function(i, domel){ 
        $(domel).highlight( "{{ keywords }}"); 
    }); 
}  
</script>
{% endblock %}