<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/justified-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% block head %}
    {% endblock %}        
  </head>
  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-justified">
          <li><a href="/">首页</a></li>
          <li><a href="/edit/">修改</a></li>
          <li><a href="/record/">记录</a></li>
          <li><a href="/history/">历史</a></li>
        </ul>
      </div>

    {% block page %}
    {% endblock %}

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    {% block script %}
    {% endblock %}    
  </body>
</html>