<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/justified-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     
    <script>
            function doConfirm(msg) {
                if (!confirm(msg )) {
                    window.event.returnValue = false;
                }
            }
    </script>    
    {% block head %}
    {% endblock %}
  </head>
  <body>

    <div class="container-fluid">
      <div class="container">
          <div class="masthead">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="/">首页</a></li>
              <li role="presentation"><a href="/edit/">修改</a></li>
              <li role="presentation"><a href="/record/">记录</a></li>
              <li role="presentation"><a href="/history/">历史</a></li>
            </ul>
          </div>

        <div  class="panel panel-info">
           <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-left" role="form" action="{% if queryurl %} {{ queryurl }} {% else %} . {% endif %} " method="POST">
                <div class="form-group">
                  <input type="text" placeholder="股票代码" class="form-control" id="query_code" name="query_code">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">地区</span>
                    <select id="selectAge" class="form-control" id="query_zone" name="query_zone">
                        <option value="1">18-21</option>
                        <option value="2">18-21</option>
                    </select>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">行业</span>
                    <select id="selectAge" class="form-control" id="query_industry" name="query_industry">
                        <option value="1">18-21</option>
                        <option value="2">18-21</option>
                    </select>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">子行业</span>
                    <select id="selectAge" class="form-control" id="query_subindustry" name="query_subindustry">
                        <option value="1">18-21</option>
                        <option value="2">18-21</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-success" value="查询">
              </form>
           </div><!--/.navbar-collapse -->
        </div>
       </div>
    {% block page %}
    {% endblock %}

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    {% block script %}
    {% endblock %}
  </body>
</html>