{% extends "base.html" %}
{% block title %}首页{% endblock %}

{% block page %}
    <div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>代码</th>
              <th>名称</th>
              <th>币种</th>
              <th>价格</th>
              <th>涨跌</th>
              <th>市值</th>
              <th>已发行股本</th>
              <th>流通股</th>
              <th>收益</th>
              <th>销售</th>
              <th>帐面价值</th>
              <th>现金流</th>
              <th>现金</th>
              <th>市盈率</th>
              <th>总市值</th>
              <th>市帐率</th>
              <th>股价</th>
              <th>权益收益率</th>
              <th>资产报酬率</th>
              <th>投资回报率</th>
              <th>毛利</th>
              <th>营运利润率</th>
              <th>净利率</th>
              <th>股息收益率</th>
              <th>每股股利</th>
              <th>股息支付率</th>
              <th>速动比率</th>
              <th>流动比率</th>
              <th>长期债务率</th>
              <th>债务股本比</th>
              <th>Total Revenue</th>
              <th>Gross Profit</th>
              <th>Operating Income</th>
              <th>Net Income</th>
            </tr>
          </thead>
          <tbody>
{% for data in datas %}
            <tr id="{{ data.code }}" name="{{ data.code }}">
              <td>
                 {% if data.code|getzone == 'HK' %}
                    <a href="http://quotes.wsj.com/HK/XHKG/{{ data.code|getabvcode }}/financials" target="_blank"> WSJ</a>
                     |
                    <a href="http://markets.ft.com/research/Markets/Tearsheets/Financials?s={{ data.code|getabvcode + ':HKG' }}"  target="_blank"> FT</a>
                     |
                    <a href="http://stock.finance.sina.com.cn/hkstock/finance/{{ data.code|getabvcode }}.html"  target="_blank"> SINA</a>
                 {%else%}
                    <a href="http://quotes.wsj.com/CN/XSHG/{{ data.code|getabvcode }}/financials" target="_blank"> WSJ</a>
                     |
                    <a href="http://markets.ft.com/research/Markets/Tearsheets/Financials?s={{ data.code|getabvcode + ':SHH' }}"  target="_blank"> FT</a>
                     |
                    <a href="http://quotes.money.163.com/f10/zycwzb_{{ data.code|getabvcode }},year.html"  target="_blank"> 163</a>
                 {%endif%}
                     |
                    <a href="javascript:void(0)" onclick="doRefreshCode('{{ data.code }}')"> 刷新</a>
<div class="progress" id="{{ data.code }}" name="{{ data.code }}" style="width: 40px;display:none;">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    <span class="sr-only"></span>
  </div>
</div>                    
              </td>
              <td class="data">{{ data.code }}</td>
              <td class="data">{{ data.name }}</td>
              <td class="data">{{ data.currency }}</td>
              <td class="data">{{ data.price }}</td>
              <td class="data">{{ data.change }}</td>
              <td class="data">{{ data.shizhi }}</td>
              <td class="data">{{ data.faxingguben }}</td>
              <td class="data">{{ data.liutonggu }}</td>
              <td class="data">{{ data.shouyi }}</td>
              <td class="data">{{ data.xiaoshou }}</td>
              <td class="data">{{ data.zhangmian }}</td>
              <td class="data">{{ data.xianjinliu }}</td>
              <td class="data">{{ data.xianjin }}</td>
              <td class="data">{{ data.shiyinglv }}</td>
              <td class="data">{{ data.zhongshizhi }}</td>
              <td class="data">{{ data.shizhanglv }}</td>
              <td class="data">{{ data.gujia }}</td>
              <td class="data">{{ data.qyshouyilv }}</td>
              <td class="data">{{ data.baochoulv }}</td>
              <td class="data">{{ data.huibaolv }}</td>
              <td class="data">{{ data.maoli }}</td>
              <td class="data">{{ data.lirunlv }}</td>
              <td class="data">{{ data.jinglilv }}</td>
              <td class="data">{{ data.gxshouyilv }}</td>
              <td class="data">{{ data.guli }}</td>
              <td class="data">{{ data.zhifulv }}</td>
              <td class="data">{{ data.sdbilv }}</td>
              <td class="data">{{ data.ldbilv }}</td>
              <td class="data">{{ data.zhaiwulv }}</td>
              <td class="data">{{ data.zwgubenbi }}</td>
              <td class="data">{{ data.TotalRevenue }}</td>
              <td class="data">{{ data.GrossProfit }}</td>
              <td class="data">{{ data.OperatingIncome }}</td>
              <td class="data">{{ data.NetIncome }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script>
         function doRefreshCode(code){
            $("div[name='" + code +"']").show();
                $.ajax({      
                    cache:false,
                    type: "GET",      
                    url: "/refresh/" + code +"/",      
                    dataType:   "json",      
                    success: function(json){      
                        var datas = $("tr[name='" + code +"']").find(".data");
                        var i =0;
                        $(datas[++i]).html( json.name );
                        $(datas[++i]).html( json.currency );
                        $(datas[++i]).html( json.price);
                        $(datas[++i]).html( json.change );
                        $(datas[++i]).html( json.shizhi );
                        $(datas[++i]).html( json.faxingguben);
                        $(datas[++i]).html( json.liutonggu);
                        $(datas[++i]).html( json.shouyi );
                        $(datas[++i]).html( json.xiaoshou );
                        $(datas[++i]).html( json.zhangmian);
                        $(datas[++i]).html( json.xianjinliu );
                        $(datas[++i]).html( json.xianjin);
                        $(datas[++i]).html( json.shiyinglv);
                        $(datas[++i]).html( json.zhongshizhi);
                        $(datas[++i]).html( json.shizhanglv );
                        $(datas[++i]).html( json.gujia);
                        $(datas[++i]).html( json.qyshouyilv );
                        $(datas[++i]).html( json.baochoulv);
                        $(datas[++i]).html( json.huibaolv );
                        $(datas[++i]).html( json.maoli);
                        $(datas[++i]).html( json.lirunlv);
                        $(datas[++i]).html( json.jinglilv );
                        $(datas[++i]).html( json.gxshouyilv );
                        $(datas[++i]).html( json.guli );
                        $(datas[++i]).html( json.zhifulv);
                        $(datas[++i]).html( json.sdbilv );
                        $(datas[++i]).html( json.ldbilv );
                        $(datas[++i]).html( json.zhaiwulv );
                        $(datas[++i]).html( json.zwgubenbi);
                        $(datas[++i]).html( json.TotalRevenue );
                        $(datas[++i]).html( json.GrossProfit);
                        $(datas[++i]).html( json.OperatingIncome);
                        $(datas[++i]).html( json.NetIncome);
                    },  
                    complete :function( req, error){
                        $("div[name='" + code +"']").hide();
                    },    
                })  
        }   
    </script>
{% endblock %}
