{% extends "base.html" %}
{% block title %}首页{% endblock %}

{% block page %}
    <div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>代码</th>
              <th>名称</th>
              <th>币种</th>
              <th>价格</th>
              <th>涨跌</th>
              <th>市值</th>
              <th>已发行股本</th>
              <th>流通股</th>
              <th>收益</th>
              <th>销售</th>
              <th>帐面价值</th>
              <th>现金流</th>
              <th>现金</th>
              <th>市盈率</th>
              <th>总市值</th>
              <th>市帐率</th>
              <th>股价</th>
              <th>权益收益率</th>
              <th>资产报酬率</th>
              <th>投资回报率</th>
              <th>毛利</th>
              <th>营运利润率</th>
              <th>净利率</th>
              <th>股息收益率</th>
              <th>每股股利</th>
              <th>股息支付率</th>
              <th>速动比率</th>
              <th>流动比率</th>
              <th>长期债务率</th>
              <th>债务股本比</th>
              <th>Total Revenue</th>
              <th>Gross Profit</th>
              <th>Operating Income</th>
              <th>Net Income</th>
            </tr>
          </thead>
          <tbody>
{% for data in datas %}
            <tr>
              <td>
                    <a href="/dataQuery/pondata/account/{{ data.id }}/view/"> record</a>
                     |
                    <a href="/dataQuery/pondata/edit/{{ data.id }}/"> FT</a>
                     |
                    <a href="/dataQuery/pondata/edit/{{ data.id }}/"> WSK</a>
                     |
                    <a href="/dataQuery/pondata/edit/{{ data.id }}/"> SINA</a>
                     |
                    <a href="/dataQuery/pondata/edit/{{ data.id }}/"> reuters</a>
                     |
                    <a href="/dataQuery/pondata/edit/{{ data.id }}/"> 刷新</a>
              </td>
              <td>{{ data.code }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.currency }}</td>
              <td>{{ data.price }}</td>
              <td>{{ data.change }}</td>
              <td>{{ data.shizhi }}</td>
              <td>{{ data.faxingguben }}</td>
              <td>{{ data.liutonggu }}</td>
              <td>{{ data.shouyi }}</td>
              <td>{{ data.xiaoshou }}</td>
              <td>{{ data.zhangmian }}</td>
              <td>{{ data.xianjinliu }}</td>
              <td>{{ data.xianjin }}</td>
              <td>{{ data.shiyinglv }}</td>
              <td>{{ data.zhongshizhi }}</td>
              <td>{{ data.shizhanglv }}</td>
              <td>{{ data.gujia }}</td>
              <td>{{ data.qyshouyilv }}</td>
              <td>{{ data.baochoulv }}</td>
              <td>{{ data.huibaolv }}</td>
              <td>{{ data.maoli }}</td>
              <td>{{ data.lirunlv }}</td>
              <td>{{ data.jinglilv }}</td>
              <td>{{ data.gxshouyilv }}</td>
              <td>{{ data.guli }}</td>
              <td>{{ data.zhifulv }}</td>
              <td>{{ data.sdbilv }}</td>
              <td>{{ data.ldbilv }}</td>
              <td>{{ data.zhaiwulv }}</td>
              <td>{{ data.zwgubenbi }}</td>
              <td>{{ data.TotalRevenue }}</td>
              <td>{{ data.GrossProfit }}</td>
              <td>{{ data.OperatingIncome }}</td>
              <td>{{ data.NetIncome }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script>
    /*
        var updater = {
            poll: function(){
                $.ajax({url: "/LongPolling",
                        type: "POST",
                        dataType: "text",
                        success: updater.onSuccess,
                        error: updater.onError});
            },
            onSuccess: function(data, dataStatus){
                try{
                    $("p").append(data+"<br>");
                }
                catch(e){
                    updater.onError();
                    return;
                }
                interval = window.setTimeout(updater.poll, 0);
            },
            onError: function(){
                console.log("Poll error;");
            }
        };

        //updater.poll();

        var wsUpdater = {
            socket: null,
            start: function(){
                if ("WebSocket" in window) {
                    wsUpdater.socket = new WebSocket("ws://localhost:8080/websocket");
                }
                else {
                    wsUpdater.socket = new MozWebSocket("ws://localhost:8080/websocket");
                }
                wsUpdater.socket.onmessage = function(event) {
                    $("p").append(event.data+"<br>");
                };
            }
        };
        wsUpdater.start();
        */
    </script>
{% endblock %}
