{% extends "base.html" %}

{% block header %}
    <link href="/static/js/tiles/tiles.css" rel="stylesheet">
    <link href="/static/js/tiles/modern-responsive.css" rel="stylesheet">

    <link href="/static/js/tiles/theme-dark.css" rel="stylesheet">

<style>
.container{
    padding-top: 50px;
      padding-right: 10px;
      padding-left: 10px;    
}

.tile.icon  > .tile-content  > i {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}


@media screen and (max-device-width: 650px)  {
 
    .tile.icon  > .tile-content  > i {
      font-size: 24px;   
      margin-left: -11px;
      margin-top: -20px;         
    }

    .tile .brand .name {
      margin-bottom: 1px;     
    }   
      
    h3,
    .h3 {
      font-size: 19px;         
    }  
}

@media screen and (max-device-width: 470px)  {
  
    .tile.icon  > .tile-content  > i {
      font-size: 24px;   
      margin-left: -12px;
      margin-top: -22px;         
    }

    .tile .brand .name {
      margin-bottom: 1px;      
    }  
      
    h3,
    .h3 {
      font-size: 18px;     
    }  
}

tiles{
  .center-block();
}

</style>    
{% endblock %}

{% block container %}

    <div class="container ">
            <div id="tiles" class="tile-group tile-drag">
            
                <a href="#"  class=" tile triple double-vertical image-slider outline-color-green" data-role="tile-slider" data-param-period="5000" data-param-direction="left">
                    <div class="tile-content">
                        <img src="/static/image/guanggao_test1.jpg" alt="">
                    </div>
                    <div class="tile-content">
                        <img src="/static/image/guanggao_test2.jpg" alt="">
                    </div>
                    <div class="tile-content">
                        <p>
                            我是迷人的小广告
                        </p>
                    </div>
                    <div class="brand">
                        <div class="name">广告位</div>
                    </div>
                </a>                

                <a href="{% url 'doc_classview' '论文' %}" class="tile bg-color-pinkDark outline-color-green icon double-vertical">
                    <div class="tile-content">
                         <i class="icon-lab"></i>
                    </div>
                    <div class="brand">
                        <div class="name"><h3>论文</h3></div>
                    </div>
                </a>
                
                <a href="{% url 'doc_classview' '管理' %}"  class="tile bg-color-orangeDark icon outline-color-green double-vertical">
                    <div class="tile-content">
                         <i class="icon-address-book"></i>
                    </div>
                    <div class="brand">
                        <span class="name"><h3>管理.面试</h3></span>
                    </div>
                </a>
<!--                
                <div class="clearfix visible-xs"></div>
-->                
                
                <a href="{% url 'doc_classview' '小说' %}"  class="tile icon outline-color-green double-vertical">
                    <div class="tile-content">
                         <i class="icon-book"></i>
                    </div>
                    <div class="brand">
                        <div class="name"><h3>小说.文学</h3></div>
                    </div>
                </a>


                <a href="{% url 'doc_classview' '金融' %}"  class="tile bg-color-green icon outline-color-green double">
                    <div class="tile-content">
                         <i class="icon-stats-up"></i>
                    </div>
                    <div class="brand">
                        <span class="name"><h3>金融.证券</h3></span>
                    </div>
                </a>

                <a href="{% url 'doc_classview' '通信' %}"  class="tile bg-color-red icon outline-color-green double">
                    <div class="tile-content">
                         <i class="icon-broadcast"></i>
                    </div>
                    <div class="brand">
                        <span class="name"><h3>通信.电子</h3></span>
                    </div>
                </a>

                <a href="{% url 'doc_classview' '考研' %}"  class="tile icon outline-color-green bg-color-orange  double">
                    <div class="tile-content">
                        <i class="icon-newspaper"></i>                        
                    </div>
                    <div class="brand">
                        <span class="name"><h3>考研.英语</h3></span>
                    </div>
                </a>
                
                <a href="{% url 'doc_classview' 'IT' %}"  class="tile bg-color-blueDark outline-color-green icon double">
                    <div class="tile-content">
                         <i class="icon-calculate"></i>
                    </div>
                    <div class="brand">
                        <span class="name"><h3>IT.编程</h3></span>
                    </div>
                </a>
<!--            
                <div class="clearfix visible-xs"></div>
-->                
                
                <a href="{% url 'doc_search' %}"  class="tile bg-color-greenDark outline-color-green icon">
                    <div class="tile-content">
                         <i class="icon-search"></i>
                    </div>
                    <div class="brand">
                        <span class="name"><h3>搜索</h3></span>
                    </div>
                </a>                    
                

                <a href="/docview/login/"  class="tile bg-color-purple  icon outline-color-green double">
                    <div class="tile-content">
                         <i class="icon-user-3"></i>
                    </div>
                    <div class="brand">
                        <span class="name"><h3>个人中心</h3></span>
                    </div>
                </a>

                <a href="#"  class="tile  bg-color-blue icon outline-color-green double" >
                    <div class="tile-content">
                         <i class="icon-help-2"></i>
                    </div>
                    <div class="brand">
                        <span class="name"><h3>有关会员</h3></span>
                    </div>
                </a>
            </div>
    </div>


{% endblock %}


{% block footer %}
    <script src="/static/js/tiles/tile-slider.js"></script>
    <script src="/static/js/tiles/tile-drag.js"></script>
<script>    
    $(function() {
        //alert(window.screen.width + "/" + window.screen.height);
        //if ($(window).height() > $("#tiles").height())
	    //    $("#tiles").css({ position:'absolute',  top: ($(window).height() - $("#tiles").height())/2 });  
	    var swidth = window.screen.width;
	    if (swidth < 769)
	    {
	        var smargin = 5;
	        var margin_s = "0 5px 5px 0";
	        if (swidth > 550)
	        {
	            smargin = 10;
	            margin_s = "0 10px 10px 0";
	        }
	        var tilewidth = Math.floor(((window.screen.width-50)  - smargin * 4) /5);
	        $(".tile").css({
                "width": tilewidth +  'px',
                "height": tilewidth +  'px',
                "margin": margin_s
                });
                
	        $(".tile.double").css({
                "width": (2 *tilewidth + smargin) +  'px'
                });

	        $(".tile.triple").css({
                "width": (3 *tilewidth + 2 * smargin) +  'px'
                });

	        $(".tile.quadro").css({
                "width": (4 *tilewidth + 3 * smargin) +  'px'
                });                

	        $(".tile.double-vertical").css({
                "height": (2 *tilewidth + smargin) +  'px'
                });

	        $(".tile.triple-vertical").css({
                "height": (3 *tilewidth + 2 * smargin) +  'px'
                });

	        $(".tile.quadro-vertical").css({
                "height": (4 *tilewidth + 3 * smargin) +  'px'
                });                
	    }
	    
	});
</script>  	
{% endblock %}