{% extends "base.html" %}

 <link href="/static/js/carousel.css" rel="stylesheet">
<style>

</style>    
{% block container %}
    <div class="container">
    <div id="desktopTest" name="desktopTest" class="visible-lg visible-md"></div>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for book  in topdata %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if not forloop.counter0 %}active{% endif %}"></li>
        {% endfor %}            
      </ol>
      <div class="carousel-inner">
        {% for book  in topdata %}
            <div class="item {% if not forloop.counter0 %}active{% endif %}">
              <img data-src="holder.js/300x100/auto/#777:#7a7a7a/text:." class="carouse_img visible-xs visible-sm"  alt="First slide">
              <a href="{% url 'doc_view' book.bookid %} ">
                <div class="carousel-caption">
                  <h5><strong>{{ book.name }}</strong></h5>
                  <p><small>{{ book.author|default:""|truncatechars:30  }}</small></p>
                  <p class="hidden-xs"><small>
                       {% if book.descr %}    
                            {{ book.descr|truncatechars:50 }}
                       {% else %}
                            {{ book.summary|truncatechars:50 }}
                       {% endif %}
                    </small></p>
                </div>
              </a>
            </div>
        {% endfor%}            
      </div>
      
      {% if topdata %}
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      {% endif %}            
    </div><!-- /.carousel -->

    <!-- books -->
        <div class="row">
      {% for book  in data %}
      
                <div class="panel panel-collapse col-md-4 col-xs-12">

                        <div class="col-xs-4 col-md-4">
                            <a href="{% url 'doc_view' book.bookid %}" class="thumbnail">
                              <img src="{{ book.getImage }}" alt="...">
                            </a>
                        </div>    
                        
                        <div class="list-group col-xs-8 col-md-8">
                          <a href="{% url 'doc_view' book.bookid %}" class="list-group-item ">
                            <p  class="list-group-item-text">
                               <strong><small>
                                {{ book.name }}
                                </small></strong>
                            </p>     
                            <p  class="list-group-item-text">
                                <small>
                                {{ book.author|default:"作者:未知"  }}
                                </small>
                            </p>                            
                            <p class="list-group-item-text">
                                <small>
                                 {% if book.descr %}    
                                   {{ book.descr|truncatechars:20 }}
                                 {% else %}
                                    {{ book.summary|truncatechars:20 }}
                                 {% endif %}
                                </small>
                            </p>                                                              
                          </a>
                        </div>
                </div>              

                {% if forloop.counter|divisibleby:"3" %}
                    <div class="clearfix hidden-xs"></div>
                {% endif %}
                
     {% endfor %}
        </div>    


    </div> <!-- /container -->
{% endblock %}


{% block footer %}
<script src="/static/js/bootstrap/js/holder.min.js"></script>
<script src="/static/js/jquery/jquery.browser.min.js"></script>
<script type="text/javascript"> 
    $(function() {
            if ($('#desktopTest').is(':hidden')) {
            }
            else{
                if ( $.browser.name == "msie" && $.browser.version < "9.0" )
                {
                }
                else
                {
                    $('.carouse_img').replaceWith('<img data-src="holder.js/2000x300/auto/#777:#7a7a7a/text:." class="carouse_img"  alt="">');
                }
            }
    });

</script>
{% endblock %}