{% extends "manageBase.html" %}
{% load highlight %}

{% block header %}

{% endblock %}

{% block region %}
    <div class="container">

        <ol class="breadcrumb visible-lg visible-md">
          <li><a href="/">首页</a></li>
          <li><a href=".">我的收藏</a></li>
        </ol>     
        
      <!-- Main component for a primary marketing message or call to action -->
                <div class="panel">
                    <span class="label label-info">我的收藏</span>
                </div>                
                
                <div class="row">
                    {% for result,favdata  in data %}
                        <div class="panel panel-collapse col-md-10 col-xs-10">
                            <div class="list-group">
                              <a href="/docview/view/{{ result.bookid }}/" class="list-group-item ">
                                <p  class="list-group-item-text">
                                   <strong>
                                    <small>{{ result.name|truncatechars:20  }}</small>
                                    </strong>
                                </p>                                     
                                <p  class="list-group-item-text">
                                    <small>{{ result.author|truncatechars:20 }}</small>
                                </p>                            
                                <p class="list-group-item-text">
                                    <small>{{ result.descr|truncatechars:20 }}
                                </p>                                 
                              </a>
                            </div>
                        </div>
                        
                        <div col-md-2 col-xs-2>                        
                            <a type="button" class="btn btn-warning btn-sm"  onClick="deleteConfirm()" href="{% url 'user_removefavorite' favdata.id %}" >
                              <span class="glyphicon glyphicon-remove-circle"></span><small>删除</small>
                            </a>                        
                        <div>                            
                    {% endfor %}                                            
                </div>                        

            
    </div> <!-- /container -->
{% endblock %}

{% block footer %}
<script type="text/javascript"> 

</script>
{% endblock %}