{% extends "manageBase.html" %}
{% load highlight %}

{% block header %}

{% endblock %}

{% block region %}
    <div class="container">
        <ol class="breadcrumb visible-lg visible-md">
          <li><a href="/">首页</a></li>
          <li><a href=".">我的空间</a></li>
        </ol>     
      <!-- Main component for a primary marketing message or call to action -->
                <div class="panel">
                    <span class="label label-info">我的空间</span>
                </div>                
                
                建设中...
            
    </div> <!-- /container -->
{% endblock %}

{% block footer %}
<script type="text/javascript"> 

</script>
{% endblock %}