<!DOCTYPE html>
<html lang="utf-8">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=3">
    <meta name="description" content="爱读书库">
    <meta name="author" content="zhwolf_zj@163.com">
    <meta name="keywords" content="windows 8, 书库">    

    <title>爱读书库</title>
    
    <script src="/static/js/jquery/jquery.js"></script>
    <script src="/static/js/jquery/jquery.placeholder.js"></script>
    <script src="/static/js/common.js"></script>    
<style>
  
</style>

{% block header_1 %}

{% endblock %}

{% block header %}

{% endblock %}

</head>


<body>

{% block container_1 %}

{% endblock %}

{% block container %}

{% endblock %}

{% block footer_1 %}

{% endblock %}  

{% block footer %}

{% endblock %}    
<script>
    $(function() {
			// Invoke placeholder plugin
			$('input, textarea').placeholder();
	});
</script>   	
  </body>
</html>
