<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>爱读书库</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/js/bootstrap/css/bootstrap-submenu.css" rel="stylesheet">
    <script src="/static/js/jquery/jquery.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/bootstrap/js/html5shiv.min.js"></script>
      <script src="/static/js/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    
    <!-- Custom styles for this template 
    <link href="/static/js/navbar-fixed-top.css" rel="stylesheet">
    -->
    
<style>
    body {
      padding-top: 70px;
    }
}
    
</style>

{% block header %}

{% endblock %}

  </head>
<!--
var browser={
    versions:function(){
    var u = navigator.userAgent, app = navigator.appVersion;
    return {//移动终端浏览器版本信息
    trident: u.indexOf('Trident') > -1, //IE内核
    presto: u.indexOf('Presto') > -1, //opera内核
    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
    mobile: !!u.match(/AppleWebKit.*Mobile.*/)||!!u.match(/AppleWebKit/), //是否为移动终端
    ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
    iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
    iPad: u.indexOf('iPad') > -1, //是否iPad
    webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
    };
}(),
language:(navigator.browserLanguage || navigator.language).toLowerCase()
};
-->
  <body>

    <div class="navbar navbar-inverse  navbar-fixed-top" role="navigation">
      <div class="container">
        <!--
            <div class="navbar-collapse collapse">
        -->            
              <form class="form-inline navbar-form" role="search" action="/docview/search/" method="get" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入书名或者作者" name="q" id="id_q">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">搜书</button>
                    </span>
                  </div>
              </form>          
      </div>
    </div>  
    
{% block container %}

{% endblock %}

    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
            <div class="btn-group btn-group-justified  dropup">

              <a  class="btn btn-primary" href="/">书库首页</a>

              <div class="btn-group dropup">  
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">全部文档<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a  href="#">休闲</a>
                              <ul class="dropdown-menu">
                                    <li><a href="#">武侠</a></li>
                                    <li><a href="#">玄幻</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#">其他</a>
                                          <ul class="dropdown-menu">
                                                <li><a href="#">武侠</a></li>
                                                <li><a href="#">玄幻</a></li>
                                          </ul>                                                             
                                     </li>  
                              </ul>
                        </li>                                  

                        <li class="divider"></li>
                        
                        <li class="dropdown-header">学科</li>
                        <li><a href="#">英语</a></li>
                        <li><a href="#">考研</a></li>
                  </ul>
              </div>  
           
{% jinja %}    
                {% if request.session and request.session.user %} 
                    {% if request.session.admin == 1 %}
                        <div class="btn-group  dropup">  
                          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">后台管理<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                  <li><a href="/docview/manage/book/">文档管理</a></li>
                                  <li><a href="/docview/manage/user/">用户管理</a></li>
                                  <li><a href="/docview/logout/">退出登陆</a></li>
                            </ul>
                        </div>  
                    {% else %}           
                        <div class="btn-group  dropup">  
                          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">我的空间<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                  <li><a href="#">用户信息</a></li>
                                  <li><a href="#">我的收藏</a></li>
                                  <li><a href="/docview/logout/">退出登陆</a></li>
                            </ul>
                        </div>  
                    {% endif %}
                {% else %}           
                    <a class="btn btn-primary"  href="/docview/login/">用户登陆</a>
                {% endif %}
{% endjinja %}                
            </div><!-- /btn-group -->

      </div>
    </div>  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery/jquery.placeholder.js"></script>
    <script src="/static/js/bootstrap/js/bootstrap.min.js"></script>

	<script>
		$(function() {
			// Invoke placeholder plugin
			$('input, textarea').placeholder();
		});
	</script>    
{% block footer %}

{% endblock %}    
  </body>
</html>
