{% extends "base.html" %}

{% block container %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
        
          {% for book  in data %}

              
                <div class="panel panel-collapse col-md-2 col-xs-2">
                
                        <div class="list-group">
                          <a href="/docview/view/{{ book.bookid }}/" class="list-group-item ">
                            <h5 class="list-group-item-heading">
                            {{ book.name }}
                            </h5>
                            <p  class="list-group-item-text">
                                {{ book.name }}
                            </p>                            
                            <p  class="list-group-item-text">
                                {{ book.author }}
                            </p>                            
                            <p class="list-group-item-text">
                                {{ book.descr|truncatechars:20 }}
                            </p>                                 
                          </a>
                        </div>

                </div>              
          {% endfor %}

        </div>

    </div> <!-- /container -->
{% endblock %}