{% extends "base.html" %}

{% block container %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
        
        <div class="row">
      {% for book  in data %}
                <div class="panel panel-collapse col-md-4 col-xs-12">

                        <div class="col-xs-4 col-md-4">
                            <a href="{% url 'doc_view' book.bookid %}" class="thumbnail">
                              <img src="{{ book.getImage }}" alt="...">
                            </a>
                        </div>    
                        
                        <div class="list-group col-xs-8 col-md-8">
                          <a href="{% url 'doc_view' book.bookid %}" class="list-group-item ">
                            <p  class="list-group-item-text">
                               <strong><small>
                                {{ book.name }}
                                </small></strong>
                            </p>     
                            <p  class="list-group-item-text">
                                <small>
                                {{ book.author }}
                                </small>
                            </p>                            
                            <p class="list-group-item-text">
                                <small>
                                {{ book.descr|truncatechars:20 }}
                                </small>
                            </p>                                 
                          </a>
                        </div>
                </div>              
     {% endfor %}
        </div>

    </div> <!-- /container -->
{% endblock %}