{% extends "manageBase.html" %}
{% load highlight %}

{% block header %}

{% endblock %}

{% block region %}
    <div class="container">
        <ol class="breadcrumb visible-lg visible-md">
          <li><a href="/">首页</a></li>
          <li><a href=".">曾经看过</a></li>
        </ol>  
      <!-- Main component for a primary marketing message or call to action -->
                <div class="panel">
                    <span class="label label-info">曾经看过...</span>
                </div>                
                
                <div class="panel panel-collapse">
                
                    {% for book  in data %}
                        <div class="list-group">
                          <a href="/docview/view/{{ book.bookid }}/" class="list-group-item ">
                            <p  class="list-group-item-text">
                               <strong><small>
                            {{ book.name }}
                                </small></strong>
                            </p>                              
                            <p  class="list-group-item-text">
                                <small>
                                {{ book.author|default:"作者:未知"  }}
                                </small>
                            </p>                            
                            <p class="list-group-item-text">
                                <small>
                                 {% if book.descr %}    
                                   {{ book.descr|truncatechars:20 }}
                                 {% else %}
                                    {{ book.summary|truncatechars:20 }}
                                 {% endif %}
                                </small>
                            </p>                                                         
                          </a>
                        </div>
                    {% endfor %}                                            
                </div>

            
    </div> <!-- /container -->
{% endblock %}

{% block footer %}
<script type="text/javascript"> 

</script>
{% endblock %}