{% extends "base.html" %}

{% block header %}
<script language="javascript"> 
    function loadpdf(url)
    {
        var pdf = '/docview/pdfviewer/#/docview/showpdf' + url;
        $('#theviewer').attr("src",pdf); 
    }
</script>
{% endblock %}

{% block container %}

    <div class="container">
        
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <span style="margin-right:30px">{{ file.name }}</span>
            <a href="#bookinfo" data-toggle="collapse" data-toggle="collapse" class="text-right">详细</a>    
            <a  class="btn btn-primary btn-md active" role="button" href="javascript:void(0);" onclick="javascript:loadpdf('{{ file.abpath }}');">查看</a>
          </h4>
        </div>
        <div id="bookinfo" class="panel-collapse collapse ">
          <div class="panel-body">
                <span style="margin-left:30px">大小:{{ file.size|filesizeformat }}</span>
                <span style="margin-left:30px">日期:{{ file.time }}</span>
          </div>
        </div>
      </div>  

      <div class="row">
         <div class="col-md-12 col-xs-12">
            <iframe id="theviewer" src='/docview/pdfviewer/#/docview/showpdf/aaa.pdf' width='100%' height='600'> </iframe>
        </div>   
     </div>  
     
  </div>         


{% endblock %}

{% block footer %}
  

  
{% endblock %}

