{% extends "base.html" %}

{% block header %}
 <script type="text/javascript" language="javascript">    

</script>
{% endblock %}

{% block container %}
    <div class="container">
  
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
            {% if info %}
            <div class="col-sm-offset-2">
                <span class="label label-success  ">{{ info }}</span>
            </div>
            {% endif %}
      
            {% if error %}
            <div class="col-sm-offset-2">
                <span class="label label-danger">{{ error }}</span>    
            </div>
            {% endif %}
            
            <form class="form-horizontal" role="form" action="." method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                {% if form.author.errors %}
                    <span class="label label-danger  col-sm-offset-2">{{ form.author.errors.as_text }}</span>                        
                {% endif %}
              <div class="form-group">
                <label for="id_author" class="col-sm-2 control-label">作者:</label>
                <div class="col-sm-10">
                    <input id="author"  name="author" type="text" class="form-control" placeholder="输入作者及出版社信息,以便搜索" 
                    value ="{{ form.author.value|default:""|safe }}" />
                </div>
              </div>


                {% if form.cost.errors %}
                    <span class="label label-danger  col-sm-offset-2">{{ form.cost.errors.as_text }}</span>   
                {% endif %}
              <div class="form-group">
                <label for="id_cost" class="col-sm-2 control-label">价值:</label>
                <div class="col-sm-10">
                    <input id="cost"  name="cost" type="text" class="form-control" placeholder="输入文档价值,免费文档请输入0" 
                    value ="{{ form.cost.value }}" />
                </div>
              </div>
                
                {% if form.tags.errors %}
                    <span class="label label-danger  col-sm-offset-2">{{ form.tags.errors.as_text }}</span>   
                {% endif %}
              <div class="form-group">
                <label for="id_tags" class="col-sm-2 control-label">关键字:</label>
                <div class="col-sm-10">
                    <input id="tags" name="tags" type="text" class="form-control" placeholder="输入文档关键字,以便搜索"
                    value ="{{ form.tags.value|default:""|safe }}" />
                </div>
              </div>
    
               {% if form.descr.errors %}
                    <span class="label label-danger  col-sm-offset-2">{{ form.descr.errors.as_text }}</span>   
                {% endif %}
              <div class="form-group">
                <label for="id_descr" class="col-sm-2 control-label">文档简介:</label>
                <div class="col-sm-10">
                    <textarea id="descr" name="descr" class="form-control" rows = "10" >{{ form.descr.value|default:""|safe }}</textarea>    
                </div>
              </div>
    
              <div class="form-group">
                <label for="id_name" class="col-sm-2 control-label">文档名称</label>
                <div class="col-sm-10">
                    <input id="name"  name="name" type="text" class="form-control" readonly="readonly"
                        value ="{{ form.name.value|default:""|safe }}" />
                </div>
              </div>
              
               <div class="form-group">
                 <div class=" col-sm-offset-4 col-sm-10">
                    <input type="submit" class="btn btn-default" value="保 存" />
                    <input type=button class="btn btn-default" value="取 消" onclick="window.history.go(-1)">
                 </div>   
            </form>
        
      </div>
    </div>
        
    </div>        

{% endblock %}

{% block footer %}
  

  
{% endblock %}
